<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{page.title}}</title>
<meta name="robots" content="noindex, nofollow">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>

<div class="container">

<br>

{{content}}

<br>
<br>
<br>

<h3>論文</h3>
<div class="table-responsive">
<table class="table table-bordered table-striped">
<!--thead>
<tr>
<th>#</th>
<th>First Name</th>
<th>Last Name</th>
<th>Username</th>
</tr>
</thead-->
<tbody>
{% for paper in site.data.papers %}
<tr>
<td class="text-nowrap">{{ paper.name }}</td>
<td class="text-nowrap">{{ paper.date }}</td>
<td>{{ paper.content }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<br>

<h3>論文獎</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
    <!--thead>
    <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    </tr>
    </thead-->
    <tbody>
    {% for award in site.data.awards %}
    <tr>
    <td class="text-nowrap">{{ award.name }}</td>
    <td class="text-nowrap">{{ award.date }}</td>
    <td>{{ award.content }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

<br>

<h3>專書等</h3>
<div class="table-responsive">
<table class="table table-bordered table-striped">
<!--thead>
<tr>
<th>#</th>
<th>First Name</th>
<th>Last Name</th>
<th>Username</th>
</tr>
</thead-->
<tbody>
{% for book in site.data.books %}
<tr>
<td class="text-nowrap">{{ book.name }}</td>
<td class="text-nowrap">{{ book.date }}</td>
<td>{{ book.content }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<br>

<h3>學會、研討會等發表</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
    <!--thead>
    <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    </tr>
    </thead-->
    <tbody>
    {% for presentation in site.data.presentations %}
    <tr>
    <td class="text-nowrap">{{ presentation.name }}</td>
    <td class="text-nowrap">{{ presentation.date }}</td>
    <td>{{ presentation.content }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

<br>

<h3>招待演講</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
    <!--thead>
    <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    </tr>
    </thead-->
    <tbody>
    {% for lecture in site.data.lectures %}
    <tr>
    <td class="text-nowrap">{{ lecture.name }}</td>
    <td class="text-nowrap">{{ lecture.date }}</td>
    <td>{{ lecture.content }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

<br>

<h3>工作坊</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
    <!--thead>
    <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    </tr>
    </thead-->
    <tbody>
    {% for workshop in site.data.workshops %}
    <tr>
    <td class="text-nowrap">{{ workshop.name }}</td>
    <td class="text-nowrap">{{ workshop.date }}</td>
    <td>{{ workshop.content }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

<br>

<h3>教科書</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
    <!--thead>
    <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    </tr>
    </thead-->
    <tbody>
    {% for textbook in site.data.textbooks %}
    <tr>
    <td class="text-nowrap">{{ textbook.name }}</td>
    <td class="text-nowrap">{{ textbook.date }}</td>
    <td>{{ textbook.content }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

<br>

<h3>報告書</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
    <!--thead>
    <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    </tr>
    </thead-->
    <tbody>
    {% for report in site.data.reports %}
    <tr>
    <td class="text-nowrap">{{ report.date }}</td>
    <td>{{ report.content }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

<br>

<h3>校內研究計劃</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
    <!--thead>
    <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    </tr>
    </thead-->
    <tbody>
    {% for int-project in site.data.int-projects %}
    <tr>
    <td class="text-nowrap">{{ int-project.date }}</td>
    <td>{{ int-project.content }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

<br>

<h3>校外研究計劃</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
    <!--thead>
    <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    </tr>
    </thead-->
    <tbody>
    {% for out-project in site.data.out-projects %}
    <tr>
    <td class="text-nowrap">{{ out-project.date }}</td>
    <td>{{ out-project.content }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

<br>

<h3>政府機関等工作</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
    <!--thead>
    <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    </tr>
    </thead-->
    <tbody>
    {% for gov-work in site.data.gov-works %}
    <tr>
    <td class="text-nowrap">{{ gov-work.date }}</td>
    <td>{{ gov-work.content }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

</body>
</div>
</html>