<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{page.title}}</title>
<meta name="robots" content="noindex,nofollow">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>

<div class="container">

{{content}}

<h3>論文</h3>
<ul class="list-group">
    {% for paper in site.data.papers %}
      <li class="list-group-item">
        {{ paper.name }}
      </li>
    {% endfor %}
</ul>

<h3>論文獎</h3>
<ul class="list-group">
  {% for award in site.data.awards %}
    <li class="list-group-item">
      {{ award.name }}
    </li>
  {% endfor %}
</ul>

<h3>專書等</h3>
<ul class="list-group">
  {% for book in site.data.books %}
    <li class="list-group-item">
      {{ book.name }}
    </li>
  {% endfor %}
</ul>

<h3>學會、研討會等發表</h3>
<ul class="list-group">
  {% for presentation in site.data.presentations %}
    <li class="list-group-item">
      {{ presentation.name }}
    </li>
  {% endfor %}
</ul>

<h3>招待演講</h3>
<ul class="list-group">
  {% for lecture in site.data.lectures %}
    <li class="list-group-item">
      {{ lecture.name }}
    </li>
  {% endfor %}
</ul>

工作坊
<ul>
  {% for workshop in site.data.workshops %}
    <li>
      {{ workshop.name }}
    </li>
  {% endfor %}
</ul>

教科書
<ul>
  {% for book in site.data.books %}
    <li>
      {{ book.name }}
    </li>
  {% endfor %}
</ul>

報告書
<ul>
  {% for report in site.data.reports %}
    <li>
      {{ report.name }}
    </li>
  {% endfor %}
</ul>

校內研究計劃
<ul>
  {% for int-project in site.data.int-projects %}
    <li>
      {{ int-project.name }}
    </li>
  {% endfor %}
</ul>

校外研究計劃
<ul>
  {% for out-project in site.data.out-projects %}
    <li>
      {{ out-project.name }}
    </li>
  {% endfor %}
</ul>

政府機関等工作
<ul>
  {% for gov-work in site.data.gov-works %}
    <li>
      {{ gov-work.name }}
    </li>
  {% endfor %}
</ul>

</body>
</div>
</html>